body{
	font-family: "Arial", Arial, serif; 
}

header,h1, h2, h3, h4 {
	font-family: "Helvetica", Helvetica, serif; 
	color: red;
	font-style: italic;
}

main {

}
em:last-child {
	color: green;
	font-weight: bold;
}

a[href^="http:"]:after {
	content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);	
}

a[href*=".pdf"]:after {
	content: '(PDF)';
}

nav a{
		color: yellow;
	background-color: #737373;
}

main li a:only-child {
	color: orange;
	font-weight: bold;
}

table tr:nth-child(2) {
	background-color: #D3D3D3;	
}

main p:last-child strong {
	border-style: solid;
	border-color: blue;
}